<div class="setting">
  <div class="label"><label>Advanced Options:</label></div>
  <div class="field">
    <ul>
      <li>
        <input type="checkbox" name="hkl_presave_enable" id="hkl_presave_enable" value="1"<TMPL_IF NAME=HKL_PRESAVE_ENABLE> checked="checked"</TMPL_IF> />
        This enables auto-linking by using MT::Entry::pre_save handler. !!BE AWARE!!
      </li>
    </ul>
  </div>
</div>
